html {
	background-color:#2a2a2a;
}

body {
	background-color:inherit;
	color:#cacaca;
	font-family: 'Montserrat', sans-serif;
}

p {
	color: #8a8a8a;
	font-family: 'Lato', sans-serif;
}

#content {

	padding: 2% 6%;

}

/* ---------- Tags ---------- */

.tag {
    border-style: solid;
    border-width: 1px 1px 2px 1px;
    border-radius: 2px;
    margin-left:2px;
	margin-right:2px;
    margin-bottom:5px;
    padding:2px 5px;
    display:inline-block;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    font-size:.8em;
}


#project-filter .tag {
	border-color:  #404040;
	color: #8a8a8a;
	cursor:pointer;
}

#project-filter .tag:hover {
	color:white;
	transition: .5s all;
}

#project-list .tag {
    color: #e6e6e6;
    border-color:#e6e6e6;
    cursor: default;
}

/* --------- Projects ---------- */

#project-list {
	text-align:center;

}

.project {
	margin-bottom:25px;
}

/* ---------- Overlay ----------*/

.overlay {
    opacity: 0;
	color:rgba(255, 255, 255, 0);
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
    transition: 1s all;
    margin-left:15px;
    margin-right:15px;
    overflow:scroll;
}

::-webkit-scrollbar {
    width: 0px;
    height:0px;
    background: transparent;
}

.overlay h6 {
    background-color:rgba(0, 0, 0, .6);
}

.overlay h6 span {
    
    color:rgba(230, 230, 230, 1);
}

.project:hover > .overlay {
    opacity:1;
	color:rgba(255, 255, 255, 1);
	z-index:1;
	transition: 1s all;
}

.project img {
	width:100%;
	text-align:center;
	transition: 1s all;
}


.project:hover > img {
	opacity:.4;
	transition: 1s all;
}

.project-links {
    
    width:100%;
}

.project-link {
    display: inline-block;
    font-size: 2em;
    border-radius: 5px;
    padding-left:10px;
    padding-right:10px;
    background-color:rgba(0, 0, 0, .6);
    cursor:pointer;
}

.project-link a {
    color:white;
}

.project-link a:hover {
    color:  #cccccc;
    
}

.project-tags {

    background-color:rgba(0, 0, 0, .6);
    border-radius: 5px;
}

/* ---------- Contact ---------- */

#contact {
	margin: 2% auto;
	width:75%;
	text-align: center;

}

#contact a {
	color:white;
	
}
